---
import { Image } from "astro:assets";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import { ROUTES } from "../../constants/routes";
import { fetchBlogPosts } from "../../lib/requests";
import { isPostUpdated } from "../../lib/util";

const posts = fetchBlogPosts.allBlogPost.edges
const locale = "en-us";

const dateOptions: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "short",
  day: "2-digit",
};
---

<DefaultLayout>
  <div class="grid grid-cols-3 gap-8">
    {
      posts.map((post) => (
        <a
          href={`${ROUTES.blog.path}/${post.node.slug}`}
          class="overflow-hidden bg-gruvbox-bg1 dark:bg-gruvbox-dark-bg1 rounded-lg shadow h-[720px]"
        >
          <div class="flex flex-col justify-between h-full w-full">
            <div>
              <div>
                <Image
                  src={post.node.thumbnail.src}
                  height={post.node.thumbnail.height}
                  width={post.node.thumbnail.width}
                  alt="Thumbnail"
                />
              </div>
              <div class="p-8">
                <h3>{post.node.title}</h3>
                <h5>{post.node.tagline}</h5>
              </div>
            </div>

            <div class="flex justify-between items-center text-gruvbox-bg4 dark:text-gruvbox-dark-bg4 p-8">
              <span class="text-xs">
                {isPostUpdated(post.node)
                  ? `Edited: ${new Date(post.node._meta.publishedAt).toLocaleDateString(locale, dateOptions)}`
                  : new Date(
                      post.node._meta.firstPublishedAt
                    ).toLocaleDateString(locale, dateOptions)}
              </span>
              <span class="text-gruvbox-bg4 dark:text-gruvbox-dark-bg4">
                <i class="fa-solid fa-arrow-up-right-from-square" />
                <span class="sr-only">Read more</span>
              </span>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</DefaultLayout>
