---
import { Image } from "astro:assets";
import { fetchTechStack } from "../lib/requests";
import PageLogo from "./PageLogo.astro";

const techStacks = fetchTechStack.allTechStackItem.edges;
---

<footer class="flex text-2xs p-4">
  <div class="flex-1">
    <PageLogo />
  </div>
  <div class="flex gap-2">
    <span>Powered by</span>
    <ul class="sm:block hidden space-x-1">
      {
        techStacks.map(({ node }) => (
          <li class="inline-block">
            <a href={node.url} target="_blank" rel="noopener noreferrer">
              <Image
                class="size-3.5 filter"
                src={node.icon.src}
                alt={node.icon.title}
                width={node.icon.width}
                height={node.icon.height}
                inferSize={true}
                loading="eager"
              />
              <span class="sr-only">{node.title}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
