---
import allSocialNetworksQuery from "../lib/requests/allSocialNetworks";

const socialNetworks = await allSocialNetworksQuery;

const {
  containerClassName = "",
  listClassName = "",
  iconClassName = "",
} = Astro.props;
---

<nav class={containerClassName}>
  <ul class={listClassName}>
    {
      socialNetworks.allSocialNetworks.edges.map((edge) => (
        <li>
          <a href={edge.node.connectionUrl} class={iconClassName}>
            <i class={edge.node.fontAwesomeIcon} />
            <span class="sr-only">{edge.node.label}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
